@import 'normalize.css';
@import './assets/styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@500&display=swap');

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: block;
  margin: 0;
  font: 500 15px/1.5 'Manrope', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
