:root {
  --primary-color: #f59256;
  --background-color: #fdf7f2;
  --light-color: #ffffff;
  --search-text-color: #535353;
  --primary-text-color: #111111;
  --link-color: #3091eb;
  --primary-font: 'Manrope', sans-serif;
  --secondary-font: 'Poppins', serif;
  --logo-font: 'Inter', serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
